html {
	height: 100%;
	margin: 0;
}

body{
	margin: 0;
	height: 100%;
	font-family: 'Poppins', sans-serif;
	background: rgb(218, 236, 134);
	color: black;
	display: flex;
	align-items: center;
	justify-content: center;
}

.speechrecognition_warning{
	position: absolute;
	top:0;
	left:0;
	background:rgb(220, 43, 12);
	color: white;
	right:0;
	padding: 15px;
	font-weight: 300;
}
.speechrecognition_warning strong{
	font-weight: 500;
}
.speechrecognition_warning::before{
	content: '⚠️ ';
}

main{
	background: white;
	padding: 30px;
	border-radius: 35px;
	width: 70%;
	border: 15px solid rgba(218,236,134,0.5);
	display: flex;
	flex-direction: column;
	max-width: 1100px;
}

h1{
	text-align: center;
	text-transform: lowercase;
	font-weight: 400;
	font-size: 2.4em;
}

p{
	text-align: center;
	font-weight: 300;
	font-size: 1.2em;
}
p em{
	font-style: normal;
	display: inline-block;
	background: rgba(255, 102, 102, 0.2);
	border-radius: 6px;
	padding: 0.2em 0.5em;
	font-size: 0.8em;
	font-weight: 500;
}

.speech{
	font-weight: 300;
	font-size: 1.2em;
	width: 85%;
	margin: 0 auto;
	background: rgba(0,0,0,0.05);
	line-height: 1.6em;
	height: calc(5 * 1.6em);
	padding: 8px;
}

.buttons{
	display: flex;
	margin: 20px 0 0 0;
	justify-content: center;
}
.buttons a{
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 600;
	padding: 0.5em 1em;
	color: white;
	border-radius: 8px;
	margin: 0 5px;
}
.action_button{
	background: rgb(255, 102, 102);
}
.action_button:hover{
	background: rgb(223, 0, 0);
}
.options_button{
	background: rgb(171, 168, 168);
	font-size: 0.8em;
	align-self: center;
	padding: 0.3em 0.8em;
}
.options_button:hover{
	background: rgb(102, 101, 101);
}

.action_button.recording{
	animation: 0.9s ease-in-out recording infinite;
}
.action_button.recording::before{
	content: '● ';
}
.action_button.speaking{
	background: rgb(21, 158, 9);
}
.action_button.speaking::before{
	content: '⏵ ';
}

@keyframes recording{
	0%{background: rgb(255, 102, 102);}
	50%{background: rgb(223, 0, 0);}
	100%{background: rgb(255, 102, 102);}
}

.options{
	display: none;
	color: black;
	flex-direction: column;
	align-items: center;
}
.options_buttons_list{
	display: flex;
}
.options.buttons a{
	font-size: 0.8em;
	padding: 0.3em 0.8em;
	background: rgb(212, 212, 212);
	color: black;
	font-weight: 400;
	text-transform: none;
}
.options.buttons a:hover{
	background: rgb(150, 148, 148);
}
.options.buttons a.selected{
	background:rgb(102, 101, 101);
	color:white;
}

.options.show_options{
	display: flex;
}

.options .range{
	margin: 0.5em 0;
	text-transform: lowercase;
	font-weight: 300;
}
.options .range label, .options .range .value{
	font-size: 0.9em;
	display: inline-block;
	transform: translateY(-0.35em);
}
.options .range .value{
	min-width: 30px;
}
.options .range input{
	width: 150px;
}
.options input[type="range"]:after{display: block; content:attr(data-value); top:2px; width:0px; right:-10px;position:relative;}