html {
	height: 100%;
	margin: 0;
}

body{
	margin: 0;
	height: 100%;
	font-family: 'Poppins', sans-serif;
	background: rgb(218, 236, 134);
	color: black;
	display: flex;
	align-items: center;
	justify-content: center;
}

.speechrecognition_warning{
	position: absolute;
	top:0;
	left:0;
	background:rgb(220, 43, 12);
	color: white;
	right:0;
	padding: 15px;
	font-weight: 300;
}
.speechrecognition_warning strong{
	font-weight: 500;
}
.speechrecognition_warning::before{
	content: '⚠️ ';
}

main{
	background: white;
	padding: 30px;
	border-radius: 35px;
	width: 70%;
	border: 15px solid rgba(218,236,134,0.5);
	display: flex;
	flex-direction: column;
	max-width: 1100px;
}

h1{
	text-align: center;
	text-transform: lowercase;
	font-weight: 400;
	font-size: 2.4em;
}

p{
	text-align: center;
	font-weight: 300;
	font-size: 1.2em;
}

.speech{
	font-weight: 300;
	font-size: 1.2em;
	width: 85%;
	margin: 0 auto;
	background: rgba(0,0,0,0.05);
	line-height: 1.6em;
	height: calc(5 * 1.6em);
	padding: 8px;
}
.action_button{
	display: inline-block;
	margin: 0 auto;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 600;
	padding: 8px 12px;
	background: rgb(255, 102, 102);
	color: white;
	border-radius: 8px;
	margin-top: 20px;
}

.action_button.recording{
	animation: 0.9s ease-in-out recording infinite;
}
.action_button.recording::before{
	content: '● ';
}
.action_button.speaking{
	background: rgb(21, 158, 9);
}
.action_button.speaking::before{
	content: '⏵ ';
}

@keyframes recording{
	0%{background: rgb(255, 102, 102);}
	50%{background: rgb(223, 0, 0);}
	100%{background: rgb(255, 102, 102);}
}





/*
 
 .txt, select, form > div {
	display: block;
	margin: 0 auto;
	font-family: sans-serif;
	font-size: 16px;
	padding: 5px;
 }
 
 .txt {
	width: 80%;
 }
 
 select {
	width: 83%;
 }
 
 form > div {
	width: 81%;
 }
 
 .txt, form > div {
	margin-bottom: 10px;
	overflow: auto;
 }
 
 .clearfix {
	clear: both;
 }
 
 label {
	float: left;
	width: 10%;
	line-height: 1.5;
 }
 
 .rate-value, .pitch-value {
	float: right;
	width: 5%;
	line-height: 1.5;
 }
 
 #rate, #pitch {
	float: right;
	width: 81%;
 }
 
 .controls {
	text-align: center;
	margin-top: 10px;
 }
 
 .controls button {
	padding: 10px;
 }*/